<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>7C0</display-name>
  <context-param>
    <param-name>username</param-name>
    <param-value>antonino</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>:Passw0rd</param-value>
  </context-param>
  <context-param>
    <param-name>dburl</param-name>
    <param-value>jdbc:mysql://localhost:3306/FC0</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
		servlet.Init
    </listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UserService</display-name>
    <servlet-name>UserService</servlet-name>
    <servlet-class>servlet.UserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserService</servlet-name>
    <url-pattern>/UserService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadUser</display-name>
    <servlet-name>ReadUser</servlet-name>
    <servlet-class>servlet.user.ReadUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadUser</servlet-name>
    <url-pattern>/User/ReadUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>servlet.user.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/User/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>servlet.user.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/User/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>servlet.user.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/User/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrepareBoard</display-name>
    <servlet-name>PrepareBoard</servlet-name>
    <servlet-class>servlet.board.PrepareBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepareBoard</servlet-name>
    <url-pattern>/Board/PrepareBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadGame</display-name>
    <servlet-name>ReadGame</servlet-name>
    <servlet-class>servlet.game.ReadGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadGame</servlet-name>
    <url-pattern>/Game/ReadGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGame</display-name>
    <servlet-name>CreateGame</servlet-name>
    <servlet-class>servlet.game.CreateGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGame</servlet-name>
    <url-pattern>/Game/CreateGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBoardEntry</display-name>
    <servlet-name>UpdateBoardEntry</servlet-name>
    <servlet-class>servlet.board.UpdateBoardEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoardEntry</servlet-name>
    <url-pattern>/Board/UpdateBoardEntry</url-pattern>
  </servlet-mapping>
</web-app>